@import 'partials/base';
@import 'partials/animation';

/* ==========================================================================
   Main Styles
   ========================================================================== */

$base: 3.06rem;
body {
    font-size: 1.8rem;
    line-height: $base;
    letter-spacing: 0;
    background: $base-bg;
    overflow: hidden;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: $dark-text;
    border-bottom: 0.125em solid $dark-text;
    @include transition(background-color .25s ease-in-out, color .25s ease-in-out, opacity .25s ease-in-out, border-bottom .25s ease-in-out);
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em 0;
    // background-color: $light-nav-bg;
    // box-shadow: 0 2px 0 0 $dark-shadow;
    z-index: 10;
}

.nav__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

$nav_left: calc(9.75vw - 3.75 * 2.1rem);
$nav_right: calc(9.75vw - 2.75 * 2.1rem);

.nav__link {
    font-size: 2.1rem;
    font-weight: $regular;
    text-transform: none;
    letter-spacing: 0;
    a:link,
    a.visited {
        border-bottom: 0.125em solid transparent;
        // font-style: italic;
    }
    a:hover,
    a:active {
        // border-bottom: 0.125em solid $dark-text;
        font-style: italic;
    }
    &.active a {
        font-weight: $medium;
    }
}

.nav__link--home {
    font-size: 2.4rem;
    font-weight: $medium;
    margin-left: $nav_left;
}

.nav__link--hamburger {
    display: none;
}

.nav__container {
    .nav__link:after {
        content: "/";
        margin: 0 0.25em;
    }

    .nav__link:last-child {
        margin-right: $nav_right;
        &:after {
            display: none;
        }
    }
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.carousel {}

.carousel__cell {
    width: 50%;
    max-width: 900px;
    margin: 0 3.475%;
    filter: saturate(0);
    opacity: 0.5;
    transform: scale(0.67);
    @include transition(all .25s ease-in-out);

    &.is-selected {
        filter: none;
        opacity: 1;
        transform: scale(1.0);
    }

    img {
        width: 100%;
        margin: 0 4px 4px 0;
        box-shadow: 4px 4px 0 $shadow;
        border-radius: 3px;
        /* prevent background color leaks */
        -webkit-background-clip: padding-box; 
        -moz-background-clip:    padding; 
        background-clip:         padding-box;
    }
}

.slider-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 2em;
}

.slider__label {
    text-transform: uppercase;
    font-weight: $regular;
    width: 3.75em;
}

.slider__label--design {
    text-align: right;
    margin-right: 7.75vw;
}

.slider__label--code {
    text-align: left;
    margin-left: 7.75vw;
}

.slider {
  width: 65%;
  max-width: 1180px;
  align-self: center;
}

.gallery-container {
    max-width: 72.4rem;
    margin: 0 auto;
    margin-top: 7.6rem + $base;
}

.gallery-filters {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 2 * $base;
    text-align: center;
    a {
        &:link,
        &.visited {
            border-bottom: 0.125em solid transparent;
            opacity: 0.5;
        }
        &.active,
        &:hover,
        &:active {
            border-bottom: 0.125em solid $dark-text;
            opacity: 1;
        }
    }
}

.gallery-item {
    width: 100%;
    margin: 2 * $base 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (min-width: 769px) {
        flex-flow: row wrap;
    }
}

.gallery-item__header {
    @media only screen and (min-width: 769px) {
        margin-left: 6.2rem;
    }
}

.gallery-item__title a {
    &:link,
    &.visited {
        border-bottom: none;
    }
    &:hover,
    &:active {
        border-bottom: 0.125em solid $dark-text;
    }
}

.gallery-item__media {
    width: 72.4rem;
    height: 48.26rem;
    background: $light-nav-bg;
    box-shadow: 4px 4px 0 0 $dark-shadow;
    @media only screen and (min-width: 769px) {
        order: -1;
        margin-bottom: 1em;
    }
}

.gallery-item__tags {
    margin: 0;
    a {
        &:link,
        &.visited {
            border-bottom: 0.125em solid transparent;
            opacity: 0.5;
        }
        &:hover,
        &:active {
            border-bottom: 0.125em solid $dark-text;
            opacity: 1;
        }
    }
    @media only screen and (min-width: 769px) {
        margin-right: 6.2rem;
    }
}

.gallery-item__year {
    margin: 0;
    display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

// very small mobile (i.e. iphone 5) specific styles...
// bump the nav font-size down OR let the links wrap and center both rows

// small mobile
@media all and (max-width: 320px) {}

@media all and (max-width: 460px) {
    .nav__container {
        // this becomes a modal
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: $light-nav-bg;
        z-index: 11;
    }
    .nav__link--hamburger {
        // show/hide toggle
        display: block;
        margin-right: $base;
    }
}

// large mobile
@media all and (max-width: 768px) {
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    h3 {
        font-size: 2.1rem;
    }
    nav {
        padding: 0;
    }

    .nav__link {
        font-size: 1.8rem;
    }

    .nav__link--home {
        margin-left: $base;
    }

    .nav__container .nav__link:last-child{
        margin-right: $base;
    }

    .carousel-container {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .carousel__cell {
        width: calc(100vw - (2 * #{$base}));
        margin: 0 calc(2 * #{$base});
        img {
            margin: 0 4px 4px 0;
            box-shadow: 4px 4px 0 $shadow;
        }
    }

    .slider-container {
        flex-wrap: wrap;
        width: calc(100vw - (2 * #{$base}));
        bottom: 1em;
        left: $base;
    }

    .slider {
        width: 98%; // so thumb shadow doesn't get clipped
        order: 1;
    }

    .slider__label {
        flex: 1 auto;
        margin: 0;
        margin-top: 0.5em;
        font-size: 1.8rem;
    }

    .slider__label--design {
        order: 2;
        text-align: left;
    }

    .slider__label--code {
        order: 3;
        text-align: right;
    }
}

// small desktop
@media all and (min-width: 769px) and (max-width: 1126px) {
    .nav__link--home {
        margin-left: $base;
    }

    .nav__container .nav__link:last-child{
        margin-right: $base;
    }

    .slider-container {
        width: calc(100vw - (2 * #{$base}));
        justify-content: space-between;
        left: $base;
    }

    .slider {
        width: 100%;
    }

    $label_margin: calc( 0.0775 * (100 - (2 * #{$base})) );

    .slider__label--design {
        margin-right: $label_margin;
    }

    .slider__label--code {
        margin-left: $label_margin;
    }
}

// large-desktop
@media all and (min-width: 1799px) {
    $nav_left: calc(42.25vw - 59rem - 3.75 * 4.2rem);
    $nav_right: calc(42.25vw - 59rem - 2.75 * 4.2rem);

    .nav__container {
        .nav__link:after {
            content: "/";
            margin: 0 0.25em;
        }

        .nav__link:last-child {
            margin-right: $nav_right;
            &:after {
                display: none;
            }
        }
    }

    .nav__link {
        font-size: 4.2rem;
    }

    .nav__link--home {
        font-size: 4.8rem;
        margin-left: $nav_left;
    }

    .nav__container .nav__link:last-child{
        margin-right: $nav_right;
    }

    .slider__label {
        font-size: 4.2rem;
    }

    // update input-range vars
    $thumb-height: 45px;
    $thumb-width: 45px;
    $thumb-shadow-size: 4.5px;
    // $thumb-border-width: 4.5px;

    $track-height: 4px;

    // update input-range mixins
    @mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
      box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
    }

    @mixin track {
      cursor: pointer;
      height: $track-height;
      transition: all .125s ease-in-out;
      width: $track-width;
    }

    @mixin thumb {
      @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
      background: $thumb-color;
      border: $thumb-border-width solid $thumb-border-color;
      border-radius: $thumb-radius;
      cursor: pointer;
      height: $thumb-height;
      width: $thumb-width;
      transition: all .125s ease-in-out;
      &:active {
        transform: scale(2.0);
        border: $thumb-border-width/2 solid $thumb-border-color;
      }
    }

    // update input-range rules
    [type='range'] {
      -webkit-appearance: none;
      margin: $thumb-height / 2 0;
      width: $track-width;

      &:focus {
        outline: 0;

        &::-webkit-slider-runnable-track {
          background: lighten($track-color, $contrast);
        }

        &::-ms-fill-lower {
          background: $track-color;
        }

        &::-ms-fill-upper {
          background: lighten($track-color, $contrast);
        }
      }

      &::-webkit-slider-runnable-track {
        @include track;
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
      }

      &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
      }

      &::-moz-range-track {
        @include track;
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
      }

      &::-ms-fill-lower {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: darken($track-color, $contrast);
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;
      }

      &::-ms-fill-upper {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;
      }

      &::-ms-thumb {
        @include thumb;
        margin-top: 0;
      }
    }
}








