/* ==========================================================================
   Colors
   ========================================================================== */

// primary
$ink: rgba(0, 0, 0, 0.8);
$shadow: rgba(0, 0, 0, 0.50);
$paper: rgba(0, 0, 0, 0.05);

// text
$dark-text: $ink;
$light-text: white;
$lighter-text: rgba(255, 255, 255, 0.8);
$dark-text-highlight: yellow;
$light-text-highlight: rgba(255, 255, 255, 0.25);

// background
$base-bg: $paper;
$home-bg: $base-bg;
$info-bg: $base-bg;
$deckster-bg: #2d2d2d;
$lahacks-bg: #3F3F3F;
$bruinbash-bg: #1584B7;
$juggle-bg: #14A697;
$ageago-bg: #f2bb13;
$localsonly-bg: #F29D35;
$sozo-bg: #f25151;
$foodtrucksofla-bg: #F29D35;
$light-nav-bg: rgba(255, 255, 255, 0.95);

// interface
$dark-shadow: $shadow;
