/* ==========================================================================
   Fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,500i,700');

// font variables
$base-font-family: 'Rubik';
$fallback-font-family: 'sans-serif';
$regular: 400;
$medium: 500;
$bold: 700;